body {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0em;
  margin-block-end: 0em;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  box-shadow: #333;
  border-bottom: 1px solid #b4b4b4;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Header */

.header-container {
  display: flex;
  flex-direction: column;
}

.header-auth-container {
  cursor: pointer;
}

.header-auth-container:hover {
  cursor: pointer;
  color: rgb(22, 22, 22);
}

.header-container .top-header {
  background-image: radial-gradient(
    circle,
    #1779fb,
    #1268e8,
    #0c57d4,
    #0646c1,
    #0035ae
  );
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-container .top-header input {
  height: 1.5rem;
  width: 30rem;
  margin-right: 1rem;
  background-color: rgb(241, 241, 241);
  padding: 1.1rem;
  font-weight: bold;
}

.bottom-header-filters {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1rem;
  height: 2rem;
  width: 55%;
  margin: 1rem auto;
}

.top-header .form-control-name {
  border: none;
}

.top-header .form-control-name:focus {
  outline: none;
}

.top-header .form-control-name::placeholder {
  letter-spacing: 0.5px;
}

.bottom-header-filters .form-control-type {
  height: 30px;
  width: 100%;
}

.bottom-header-filters .form-control-city {
  height: 30px;
  width: 100%;
  margin-right: 30px;
}

.bottom-header-filters .form-control-date {
  height: 30px;
  width: 100%;
  margin-right: 30px;
}

.bottom-header-filters .form-control-last-date {
  height: 30px;
  width: 100%;
}

.bottom-header-filters select {
  margin-right: 2rem;
  height: 30px;
  width: 235px;
}

/* header */
/* popslider */
.popslider-container-box {
  width: 55%;
  margin: 0 auto;
}

.popslider-container-box > h1 {
  margin: 15px auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #6d6d6d;
}

/* popslider-container */
.popslider-container-box .card {
  margin-top: 0.5rem;
  border: 1px solid #fff;
  border-radius: 8px;
  overflow: 8px;
  background-image: radial-gradient(
    circle,
    #ffffff,
    #fbfbfb,
    #f7f7f7,
    #f4f4f4,
    #f0f0f0
  );
}

.slick-slide > div {
  margin: 0 1px;
}

.slick-list {
  margin: 0 -1px;
}

.card-top > img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-top h1 {
  font-size: 1rem;
  margin: 10px 20px;
}

.card-bottom {
  margin: 10px 20px;
}

.card-bottom h3 {
  font-size: 0.9rem;
}
/* popslider */

/* events lists*/
.category {
  font-size: medium;
}

.api-card-container {
  width: 55%;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.api-card-container .api-card-item {
  width: 320px;
  height: 475px;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 2px;
  overflow: hidden;
  padding: 5px;
  margin: 20px 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.api-card-container .api-card-item:hover {
  background-image: radial-gradient(
    circle,
    #ffffff,
    #fbfbfb,
    #f7f7f7,
    #f4f4f4,
    #f0f0f0
  );
  cursor: pointer;
}

.api-card-container .api-card-item .category:hover {
  cursor: pointer;
  text-decoration-line: underline;
}

.api-card-item .api-card-container-top-card img {
  width: 100%;
  height: 240px;
}

.api-card-item .api-card-container-bottom-card {
  width: 90%;
}
/* events lists*/

.content-d-exists {
  padding: 50px;
  background-image: radial-gradient(
    circle,
    #ffffff,
    #fbfbfb,
    #f7f7f7,
    #f4f4f4,
    #f0f0f0
  );
  width: 100%;
  font-weight: bold;
  color: rgb(92, 92, 92);
}

.show-more-item {
  display: flex;
  padding: 1rem;
  color: rgb(92, 92, 92);
  background-image: radial-gradient(
    circle,
    #ffffff,
    #fbfbfb,
    #f7f7f7,
    #f4f4f4,
    #f0f0f0
  );
  justify-content: center;
  align-items: center;
  width: 20%;
  margin: 0 auto;
}

/* Footer */

.main-footer {
  color: whitesmoke;
  background: rgb(65, 65, 65);
  background: rgb(65, 65, 65);
  background: rgb(65, 65, 65);
  background: rgb(65, 65, 65);
  background: radial-gradient(
    circle,
    rgba(65, 65, 65, 1) 0%,
    rgba(38, 38, 38, 1) 0%,
    rgba(36, 36, 36, 1) 89%,
    rgba(34, 34, 34, 1) 100%,
    rgba(65, 65, 65, 1) 100%
  );
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  padding: 2rem 0 2rem 0;
}

.footer-main-h1 {
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 45%;
  margin: 50px auto;
  color: rgb(165, 165, 165);
  margin-bottom: 0;
}

.main-footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 55%;
  margin: 5rem auto;
}

.main-footer-container li {
  cursor: pointer;
  border-bottom: 0.2rem solid transparent;
}

.main-footer-container li:hover {
  cursor: pointer;
  border-bottom: 0.2rem solid #686868;
}

.main-footer-container h2 {
  color: whitesmoke;
  margin-bottom: 2rem;
  padding-bottom: 3px;
  border-bottom: 0.2rem solid rgb(119, 119, 119);
  border-radius: 5%;
}

.main-footer-col1 li {
  list-style: none;
  margin-top: 1.5rem;
  border-radius: 5%;
}

.main-footer-col2 li {
  list-style: none;
  margin-top: 1.5rem;
  border-radius: 5%;
}

.main-footer-col3 li {
  list-style: none;
  margin-top: 1.5rem;
  border-radius: 5%;
}

@media (max-width: 769px) {
  .main-footer-container {
    display: flex;
    flex-direction: column;
  }

  .main-footer-col1 {
    width: 190px;
  }
  .main-footer-col2 {
    width: 190px;
  }
  .main-footer-col3 {
    width: 190px;
  }
  .footer-main-h1 {
    text-align: left;
  }
}

/* Footer */
